.banner {
    width: 100%;
    max-width: 100%;
}
.postHeader {
    margin: 5rem 0;

    h2 {
        font-size: 2.5rem;
    }
    
    ul {
        list-style: none;
        margin-top:1.5rem;
        display: flex;
        align-items: center;
    
        & li {
          font-size:0.875rem;

          p {
            margin-top: 0;
            font-weight: 400;
            color: var(--gray);
          }
    
          & svg {
            margin-right: 0.5rem;
          }
    
          & + li {
            margin-left: 1.625rem;
          }
        }
    }
}
.post {
    margin: 4.5rem 0;

    h2 {
        font-size: 2rem;
        margin-bottom: 4.5rem;
    }
    .postBody {
        color: var(--gray);
    }
}
